html, body {
    background: white;
}

html {
    height: 100%;
}

body {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

li {
    margin: 0.4rem 0;
}

.w {
    /* max-width: 600px; */
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
}

table.right1 td:nth-child(1),
table.right1 th:nth-child(1) {
  text-align: right;
}
table.left2 td:nth-child(2),
table.left2 th:nth-child(2) {
  text-align: left;
}

th, td {
  padding: 2px;
}
