body, html {
    height: 100%;
}

body {
    background: white;
    color: black;
    /* position: relative;  */
}

body {
    /* display: flex; */
    justify-content: center;
    /* font-family: 'times new roman', times, serif; */
    font-family: Georgia, serif;
    /* font-family: 'Kings Caslon Trial', sans-serif; */
    /* font-family: 'Courier New', monospace; */
    /* font-family: Monaco; */
    /* font-family: monospace; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Mono'; */
    /* font-size: 14px; */
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

.dark-mode {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 75%);
}

.dark-mode a {
    /* color: hsl(200, 25%, 50%); */
    color: hsl(50, 50%, 60%);
}

a {
/*     font-family: Monaco; */
/*     font-family: 'Menlo', sans-serif; */
/*     font-family: monospace; */
/*     font-family: "Lucida Console", Monaco, monospace; */
    font-family: 'Roboto Mono';
    font-size: 15px;
}

.footer {
    position: fixed; 
    width:100%;
    bottom: 0;
    left: 8px;
}

li {
    margin: 0.4rem 0;
}

.w {
    max-width: 650px;
    min-width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
}

table.right1 td:nth-child(1),
table.right1 th:nth-child(1) {
    text-align: right;
    vertical-align: top;
}

table.left2 td:nth-child(2),
table.left2 th:nth-child(2) {
    text-align: left;
    vertical-align: top;
}

th, td {
    padding: 2px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-slide {
    position: relative;
    display: inline-block;
}

.tooltip-slide .tooltiptext {
  visibility: hidden;
  /* width: 500px; */
  width: 596px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 1px 0;
  position: absolute;
  /* position: fixed; */
  z-index: 1;
  /* bottom: 140%; */
  bottom: 102%;
  left: 50%;
  /* margin-left: -250px; */
  margin-left: -298px;
}

.tooltip-slide .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-slide:hover .tooltiptext {
  visibility: visible;
}

.input-cursor {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: white;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

.input-cursor {
    animation: blink .2s linear infinite alternate;
}

.inline {
    display:inline-block;
}

.im {
    filter: blur;
}

.profile-picture {
    border-radius: 50%;
    padding: 5px;
    /* border: 1px solid #f2f3f3; */
    border: 1px solid hsla(0, 0%, 80%, 1);
    filter: brightness(1.1) opacity(0.9);
}

.dark-mode .profile-picture {
    border: 1px solid hsla(0, 0%, 35%, 1);
}

.social-links {
  /* list-style: none; */
  padding-left: 0px;
  /* font-size: 18px; */
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

/* .social-links a { */
a {
  text-decoration: none;
  padding: 4px;
}

a:hover {
    text-decoration: none;
    background-color: hsl(200, 50%, 90%);
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.dark-mode a:hover {
    background-color: hsl(50, 15%, 25%);
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: hsl(200, 50%, 90%);
}

.dark-mode .nav>li>a:focus,
.dark-mode .nav>li>a:hover {
    /* background-color: hsl(200, 50%, 15%); */
    background-color: hsl(50, 50%, 25%);
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.my-highlight {
    /* color: hsl(34deg 70% 23%); */
    color: hsl(200deg 50% 20%);
    /* background: floralwhite; */
    /* background: ivory; */
    /* background: ghostwhite; */
    background: whitesmoke;
}

.dark-mode .my-highlight {
    color: hsl(50, 40%, 80%);
    background: hsl(0, 0%, 15%);
}

pre .language-bib {
    font-size: 14px !important;
}

.dark-mode pre {
    background-color: hsl(0, 0%, 15%) !important;
}

.me {
    font-weight: bold;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-centered {
    /* display: flex; */
    /* flex-direction-column; */
    /* justify-content:center */
    display:flex;
align-items:center;
justify-content:center;
}

/* .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { */
/*     top: 95%; */
/* } */

.carousel-control {
    /* top: 95%; */
    width: 6%;
    left:
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 25%;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    right: 25%;
}

/*Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
